<%= form_with model: @article, local: true do |form| %>
	<% if @article.errors.any? %>
		<div id="error_explanation">
			<h2>There <%= @article.errors.count == 1 ? "is" : "are" %> <%= pluralize( @article.errors.count, "error" ) %> preventing your article from being saved</h2>
			<p>Resolve the following issues:</p>
			<ul>
				<% @article.errors.full_messages.each do |error| %>
					<li><%= error %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= form.label :title %><br>
		<%= form.text_field :title %>
	</p>

	<p>
		<%= form.label :text %><br>
		<%= form.text_area :text %>
	</p>

	<p>
		<%= form.submit %>
	</p>
<% end %>