<% content_for :banner do %>
    <%= render 'dashboard_navigation' %>
    <div id="banner">
        <div id="wrapper">
            <h1>Dashboard</h1>
            <p>Welcome back, <%= current_user.first_name %></p>
        </div>
    </div>
<% end %>

<main>
    <div id="projects" class="column">
        <h1>Your Projects</h1>
        <%= link_to '+ create', new_project_path, class: 'button', id: 'new' %>

        <div class="wrapper">
            <div class="notice">
                <%= image_tag "question-mark.png" %>
                <h3>Well... This is embarrassing</h3>
                <span>You haven't got any projects! You should really get to that!</span>
            </div>
        </div>
    </div>
    <div id="notifications" class="column">
        <h2>Recent Activity</h2>

        <div class="wrapper">
            <% if current_user.recent_activity then %>
                <%= render current_user.recent_activity %>
            <% else %>
                <div class="notice">
                    <h3>Nothing here!</h2>
                    <span>Your account has no recent recorded activity</span>
                </div>
            <% end %>
        </div>
    </div>
</main>
