<!DOCTYPE html>
<html>
    <head>
        <title><%= ApplicationController::SITE_NAME %> &mdash; <%= @page_title || "Welcome" %></title>
        <meta name="google-signin-client_id" content="1050814368819-l2v81ut67vi65016ced1mstv5j2uepou.apps.googleusercontent.com">
        
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Questrial|Roboto" %>

        <%= stylesheet_link_tag "controllers/#{params[:controller]}", media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag "controllers/#{params[:controller]}", 'data-turbolinks-track': 'reload' %>

        <%= yield :head %>
    </head>

    <body>
        <%= if content_for? :pre then yield :pre end %>
        <% if content_for? :nav %> <nav class="fixed"><%= yield :nav %></nav> <% end %>

        <%= content_for? :content and yield :content or yield %>

        <% if content_for? :footer %> <footer><%= yield :footer %></footer> <% end %>

        <%= if content_for? :post then yield :post end %>
        <%= render 'flash_notices' %>
    </body>
</html>
