<!DOCTYPE html>
<html>
    <head>
        <!-- <base href="/"> -->
        <title><%= ApplicationController::SITE_NAME %> &mdash; Loading</title>
        <meta name="google-signin-client_id" content="1050814368819-l2v81ut67vi65016ced1mstv5j2uepou.apps.googleusercontent.com">
        <meta name="viewport" content="width=device-width, initial-scale=1"/> 
        
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Questrial|Roboto" %>

        <%= stylesheet_link_tag "controllers/main", media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag "controllers/main", 'data-turbolinks-track': 'reload' %>

        <%= yield :head %>
    </head>

    <body>
        <noscript>
            <h1>JavaScript Required</h1>
            <p>JavaScript is not enabled in your browser. This website will not function without JavaScript, as it uses the technology to improve your user experience.</p>
            <p>For instructions on how to enable JavaScript, and why you should, click <a href="https://enable-javascript.com/" target="_blank" style="color: initial;">here!</a></p>
        </noscript>

        <bikboo-shell></bikboo-shell>
        <%= javascript_pack_tag 'dashboard' %>

        <%= render 'flash_notices' %>
    </body>
</html>
